body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat; 
  background-position: top center;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat; 
  background-position: 0 0;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-header {
  margin-bottom: 75px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}
.main-navigation-wrapper .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
          justify-content: space-between; 

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000; 

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.main-header-logo {
  -webkit-order: 2;
  -ms-flex-order: 2;
          order: 2; 
  width: 368px;
  height: 153px;

  -webkit-box-ordinal-group: 3;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0; 

  list-style: none;
}

.site-navigation {
  width: 620px;
}

.user-navigation {
  width: 140px;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #242424;
}

.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none; 

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.feature-item {
  width: 300px;

  text-align: center;
}
.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat; 
  background-position: 0 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.gallery {
  width: 300px;
}

.contacts {
  width: 380px;
}

.appointment {
  width: 300px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}
.appointment-item input:focus {
  border-color: #663d15;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/pattern-dark.png");
  background-repeat: repeat; 
  background-position: 0 0;
}
.main-footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.footer-contacts {
  width: 230px;
  margin: 0;
  margin-right: 80px;
}
.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;

  text-align: center;
}
.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;

  text-align: center;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat; 
  background-position: 0 0;
}
.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}
.restore:hover,
.restore:focus {
  text-decoration: none;
}
